body {
  margin: 0;
  padding: 0;
}

/******************************************* Nav bar */
.nav {
  height: 58px;
  width: 100%;
  background-color: #0f6193;
}

.nav li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 17px;
  font-weight: 900;
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  color: white;
}
.nav li:hover {
  background-color: #0f6193;
}

/**************************************************** Nav Language Change */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav span:hover {
  color: rgb(41, 41, 41);
}

.nav-language {
  float: right;
  padding-right: 30px;
}

/********************************************************** After nav */

.after-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 129px;
  background-color: white;
}

.after-nav img {
  margin: auto;
  width: 20.4%;
  margin-left: -50px;
}

.after-nav .after-left span a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  font-weight: 900;
  display: inline-block;
  justify-content: flex-end;
  font-size: 20px;
  color: #1d75b1;
  margin: auto;
  text-decoration: none;
}
.after-left {
  position: absolute;
  left: 260px;
}

.search-icon {
  position: absolute;
  right: 50px;
  color: #005486;
}
/************************************************* 2024 market outlook*/
.market-outlook img {
  width: 100%;
}

.btn-learn-more {
  font-family: "Times New Roman";
  padding: 17px;
  font-weight: 900;
  font-size: 20px;
  color: white;
  background-color: #0f2d52;
  outline: 0;
  position: absolute;
  left: 20px;
  top: 460px;
  width: 13rem;
  height: 4rem;
  border-radius: 30px;
  border: none;
  transition: background-color 0.4s;
}

.btn-learn-more:hover {
  background-color: #005486;
}
/*********************************************************** Out approach */
.our-approach h2 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 770;
  font-size: 24px;
  line-height: 28px;
  color: #0f2d52;
  padding: 2rem 2rem 4rem 2rem;
}

.our-approach h3 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #0f2d52;
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cart-one,
.cart-two,
.cart-three {
  flex: 1 1 300px;
  margin: 10px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 4px 6px #f0f2f6;
}

.cart-two {
  margin-top: -60px;
}

.row h4 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

.row p {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.learn-more-our-approach {
  font-family: "Times New Roman";
  padding: 17px;
  font-weight: 900;
  font-size: 20px;
  color: #0f2d52;
  background-color: none;
  outline: 0;
  text-decoration: none;
}

.row img {
  width: 100%;
}
/*****************************************************************x Featured-insights */

#fi {
  background-color: #f0f2f6;
  border: 1px solid #e5e5e5;
}
#fi h1 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #0f2d52;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin: 30px;
  padding-top: -50px;
  padding-bottom: 30px;
}
.f-one-image {
  width: 70%;
  padding-left: 60px;
}

#fi h5 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #0f2d52;
  display: flex;
  justify-content: center;
  margin-right: 90px;
}

#fi p {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0f2d52;
}

#fi button {
  width: 140px;
  height: 50px;
  border: 4px solid #0f2d52;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s; /* add transition effect */
}

#fi button a {
  font-size: 15px;
  color: #0f2d52;
  text-decoration: none;
}

#fi button:hover {
  background-color: #ddf4ff !important; /* override inline style */
}
.f-first {
  display: flex;
  margin-top: -10px;
}
#hf {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #0f2d52;
  display: flex;
  justify-content: center;
  margin-right: 90px;
}

#wrap {
  font-size: 35px;
}

#me {
  display: flex;
}

/* Regulatory */

#regulatory {
  background-color: white;
  border: 40px solid #e5e5e5;
}

#regulatory h1 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40 px;
  line-height: 40px;
  color: #0f2d52;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin: 30px;
  padding-top: -50px;
  padding-bottom: 30px;
  padding-left: 350px;
}

#regulatory img {
  width: 133%;
}

#regulatory h5 {
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 32px;
  line-height: 60px;
  color: #0f2d52;
  display: flex;
  justify-content: left;
  padding-left: 110px;
}

#regulatory button {
  width: 200px;
  height: 70px;
  border: 4px solid #0f2d52;
  border-radius: 60px;
  text-decoration: none;
  transition: background-color 0.3s; /* add transition effect */
}

#regulatory button a {
  font-size: 20px;
  color: #0f2d52;
  text-decoration: none;
  font-weight: 400;
}
#regulatory button:hover {
  background-color: #ddf4ff !important; /* override inline style */
}
.btn-last {
  display: flex;
  justify-content: left;
  padding-left: 100px;
  padding-bottom: 40px;
}
#f-hr {
  width: 80%px;
  height: 40px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}
/*************************************************** Footer **************************************************/
#footer {
  background-color: #0e2d52;
  width: 100%;
  height: 490px;
  display: flex;
}
#company {
  margin-top: 10px;
  display: flex;
  height: 50%;
  width: 100%;
  position: absolute;
  left: 510px;
}

.company {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

#footer ul {
  list-style-type: none;
  font-size: 15px;
  color: white;
  font-family: Arial;
  font-weight: 300;
  font-weight: 300;
  margin: 10px;
  padding-top: 10px;
}

#footer ul li {
  padding-top: 16px;
  font-weight: lighter;
  font-size: 20px;
}

#second {
  margin-left: 20px;
}

#hr-one {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 5550px;
  background-color: #576c86;
}
#hr-two {
  height: 200px;
  width: 1px;
  position: absolute;
  left: 40%;
  top: 5554px;
  background-color: #576c86;
}

.p-first {
  color: white;
  top: 5554px;
  left: 10%;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-weight: 600;
}

.p-two {
  color: white;
  top: 5554px;
  left: 42%;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: proxima-nova, Helvetica, Verdana, sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: 600;
  margin: 10px;
  margin-top: 10px;
}
